{% extends 'study/_base.html' %}

{% block title %}Django API: {{ theme.name }}{% endblock title %}

{% block content %}

    <h1>Lesson theme</h1><br>

    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock content %}